.task-body {
    padding: 30px;
}
#statusFilter {
    padding: 9px;
    margin-left: 70px;
    border: 0;
    border-bottom: 2px solid;
    background: #fff;
    outline: none;
}
.paginationLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}
